## Json Parsing

In [1]:
import json
import pandas as pd

data= []
mydf = pd.DataFrame()

# to parse json files
with open('./ds_tutorial_json.json') as f:
    for line in f:
        data.append(json.loads(line))
        
    # convert json to df
    for i in range(0, len(data)):
        df = pd.DataFrame.from_dict([data[i]])
        mydf = mydf.append(df)
        
# reset index
mydf.reset_index(drop=True, inplace=True)

In [2]:
mydf.head()

         date memno  screen event  ver     area group
0  1511947418  1101   intro  view  0.1    seoul     a
1  1511947418  1101   intro  view  0.2    taegu     a
2  1511947418  1102  detail  view  0.2  gyenggi     b
3  1511947418  1102  detail   clk  0.2    seoul     b
4  1511947418  1102    main   clk  0.2    seoul     c

In [3]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    120 non-null    object
 1   memno   120 non-null    object
 2   screen  120 non-null    object
 3   event   120 non-null    object
 4   ver     120 non-null    object
 5   area    120 non-null    object
 6   group   120 non-null    object
dtypes: object(7)
memory usage: 6.7+ KB

In [4]:
# change column types
mydf['date'] = pd.to_datetime(mydf['date'], unit='s').dt.date
mydf['date'] = mydf['date'].astype('datetime64[ns]')

In [5]:
mydf.head()

        date memno  screen event  ver     area group
0 2017-11-29  1101   intro  view  0.1    seoul     a
1 2017-11-29  1101   intro  view  0.2    taegu     a
2 2017-11-29  1102  detail  view  0.2  gyenggi     b
3 2017-11-29  1102  detail   clk  0.2    seoul     b
4 2017-11-29  1102    main   clk  0.2    seoul     c

In [6]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    120 non-null    datetime64[ns]
 1   memno   120 non-null    object
 2   screen  120 non-null    object
 3   event   120 non-null    object
 4   ver     120 non-null    object
 5   area    120 non-null    object
 6   group   120 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 6.7+ KB